<!--
  Generated template for the StudentinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Student Handbook Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="item == 113">
      <h3 text-center>WELCOME TO THE ASIA TECHNOLOGICAL SCHOOL OF SCIENCE AND ARTS</h3>
      <h4 text-center>Foreword</h4>
      <br>
      <p>
        This Asiatech Student Handbook contains information applicable to all bona fide students of Asia Technological School of Science and Arts who are enrolled in any degree or non-degree programs offered by the school and who, upon admission agree to obey the same.
      
      </p>

      <p>
        The foundation of the set of policies, rules and regulations contained herein are all inspired from the Commission on Higher Education (CHED) and Technical Education and skills Development Authority (TESDA) memoranda which cannot be amended or revised without proper consultation with the different sectors of the academe subject for approval by the Board of Trustees.

      </p>

      <p>
        Aside from this handbook, an enrolled student is also obliged to refer to other means of information within the school such as bulletin boards, school papers, departmental memoranda and others.

      </p>

      <p>
        Furthermore, contents indicated herein may be subjected to change through proper amendment or additional procedures. Changes subsequent to the publication of this handbook shall follow and be implemented as the need and circumstances may arise.

      </p>
  </div>

  <div *ngIf="item == 112">
      <h3>CORE VALUES</h3>
      <ion-card>
        <ion-card-header>
          ACCOUNTABLE
        </ion-card-header>
        <ion-card-content>
          I am accountable of my actions that influence the lives of other stakeholders. I assume responsibility that further strengthens my faith and character to be able to harness challenges.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          SERVICE-ORIENTED
        </ion-card-header>
        <ion-card-content>
          Service excellence is more than what we provides. It’s how I think and act. It’s more than fixing a problem. It is prompt responses, consistent communication, quality information, and a focus in providing a superior experience to and with other stakeholders.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          INNOVATIVE
        </ion-card-header>
        <ion-card-content>
          I strongly agree in the anticipation of change and shape it to fit our purpose. I acknowledge the weaknesses within the institution and I help create ethical, forward thinking solutions to overcome them. I am very much willing to collaborate to identify, develop, and deploy leading edge strategies, development programs, and system improvement tools.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          ADAPTIVE
        </ion-card-header>
        <ion-card-content>
          In order to be successful, it is imperative to be able to deal with new technology, with new methodology, and most importantly to be willing to change with the times and I will see myself as a change agent who can offer a range of supportive efforts to reduce resistance and build loyalty and commitment.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          TEAM-ORIENTED
        </ion-card-header>
        <ion-card-content>
          I will work openly and collaboratively with other as one team across boundaries. I look forward to help build a strong and effective relationships working in team. I will help encourage and motivate others to contribute and actively seek feedback. I believe in the idea of putting the team before the individual, recognizing that everyone will rely on each other to succeed.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          EFFICIENT
        </ion-card-header>
        <ion-card-content>
          As a team player, I will be obedient to all the tasks delegated to me, ask for help when needed, communicate clearly and concisely both verbally and in writing, carry directions promptly, make the best use of other’s time as well as my own, and take the initiative to resolve recurring problems and eliminate redundancies.

        </ion-card-content>
      </ion-card>

     

      <ion-card>
        <ion-card-header>
          COMMITED
        </ion-card-header>
        <ion-card-content>
          I am a person who works whole heartedly. I work  not for the money alone but for the commitment to serve.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          HONEST
        </ion-card-header>
        <ion-card-content>
          The quality of being honest and fair is that type of person I posses. Honestly to God and to the School as well as fair treatment to everyone will always prevail.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          INDUSTRIOUS
        </ion-card-header>
        <ion-card-content>
          I will regularly and habitually keep myself active to the task assigned to me. I am willing to extend assistance to other when needed.

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          ARTICULATE
        </ion-card-header>
        <ion-card-content>
          I deliver information and knowledge clearly.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          NOBLE
        </ion-card-header>
        <ion-card-content>
          I am that person who possess personal qualities that other people admire.
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="item == 111">
    <ion-card>
      <ion-card-header>
      <p><strong>Goal 1: Instructional  Programs Excellence</strong></p>
      </ion-card-header>
      <ion-card-content>
        <p>
          To ensure provision of, and acces to quality instruction and lifelong learning in current and emerging fields for a diverse population.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <p><strong>Goal 2: Student Centered College</strong></p>
      </ion-card-header>
      <ion-card-content>
       <p>
          To provide quality services and resources to promote character building for student success.
       </p>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <p><strong>Goal 3: Community and Workforce Development</strong></p>
      </ion-card-header>
      <ion-card-content>
        <p>
          To enhance economic and workforce development in the province of Laguna by providing quality training programs and services for industries and in the community.
        </p>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <p><strong>Goal 4:Assesment and Accountability</strong></p>
      </ion-card-header>
      <ion-card-content>
        <p>
          To be globally competive, the school will ensure quality education by maintaining a system of assessment and accountability
        </p>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <p><strong>Goal 5: Technology and Infrastructure</strong></p>
      </ion-card-header>
      <ion-card-content>
        <p>
          To ensure continual enhancement of student learning by integrating the most up-to-date technological, curricular and environmental resources into its teaching, service, support and administrative functions.
        </p>
        
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="item == 1">
    <ion-card>
      <ion-card-header>
      <p><strong>Section 1. 	Title</strong></p>
      </ion-card-header>
      <ion-card-content>
        <p>
          This Handbook shall known as “Asiatech Student Handbook”
        </p>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <p><strong>Section 2. 	Coverage</strong></p>
      </ion-card-header>
      <ion-card-content>
        <p>
          This Handbook shall applied to govern all activities and transaction of ASIATECH students and transaction of ASIATECH students in all program offered by ASIATECH including their relationships with whole studentry, faculty members, and administrative personnel of the ASIATECH Family.

        </p>
        
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="item == 2">
       <ion-card>
        <ion-card-header>
        <p><strong>Section 1. 	Vision</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
            To be a leading Science and Technological Institute in the province of Laguna focused on producing competitive graduates contemporaneous with the discerned requirements of global business so as to aid in the national development and progress.
          </p>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <p><strong>Section 2.	Mission</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
            ASIATECH shall provide relevant and quality education aimed to ameliorate the life of Asiatechians and the economy. It shall develop and implement curricula of its programs to generate highly skilled, innovative and productive graduates.
          </p>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <p><strong>Section 3. 	Objectives</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
            The vision of educating the young for full participation globally is embodied in the schools objectives:
a. To deliver high quality and effective educational and social experience.
b. To incorporate intergarative discipline for development of good moral character and personality.
c. To preapare students for vocation or profession, to become self-sustaining, self-sufficient and globally successful individuals.


          </p>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <p><strong>Section 4. 	History</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
            On June 9, 2009, ASIATECH originally APTECH eventually opened its first classes. The plan of the founder, Mrs. Marife L. Barraquio was to build a pre-school as she visualized that her owned commercial building could be utilized as a potential school because its accessibility and its location is very strategic,  but due the urged of one of his Mentor Mr. Daniel N. Arriola to built a Tertiary School instead of a Pre-school,  the plan was indeed changed.  During that time, Mr. Arriola is in need of work  and he believed that Mrs. Barraquio could be an answer, since she is known to be kind and generous.  Indeed, she supported Mr. Ariola then APTECH was founded (The name before ASIATECH).  APTECH stands for Asia Pacific technical School of Science and Arts.  
Historically, the owner Mr. Noel N. Barraquio and Mrs. Marife L. Barraquio has given their full trust to Mr. Ariola to manage the School because they believe that trusting people would make them effective and fruitful.  The school is credited with less than 50 pioneering students and set of Faculty and staff.   The only offered courses were TESDA courses such as Computer Electronic Technology, 2-year Information Technology and 2-yr Hotel and Restaurant Management.
After two years in operation,  On April 2011, the owner decided to personally operate the School.  They added CHED courses such as Bachelor of Science in Hotel and Restaurant Management, Bachelor of Secondary Education major in English, Bachelor of Science in Business Administration, Bachelor of Science in Information Technology and Bachelor of Science in Computer Science. And additional TESDA courses such as SMAW and 1-year Nursing Aide.

          </p>
          
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="item == 3">
      <ion-card>
        <ion-card-header>
         <p><strong>Section 1.	Admission of new students</strong></p>
        </ion-card-header>
        <ion-card-content>
            <p>
              <strong>1.1 For Freshmen Students: </strong>
              Graduate of accredited or recognized high schools may be admitted in ASIATECH on the following Conditions:

            </p>
              <div>
                <p style="margin-left: 15px">1.1.1  Applicant have passed the College entrance examination and interview.</p>
                <p style="margin-left: 15px">1.1.2 Applicant have submitted the following credentials to the registrars office:</p>
                <p style="margin-left: 15px">a. original copy of form 137</p>
                <p style="margin-left: 15px">b. original copy of form 138 or report card</p>
                <p style="margin-left: 15px">c. highschool diploma</p>
                <p style="margin-left: 15px">d. original copy of  good moral </p>
                <p style="margin-left: 15px">e. ENCAE result</p>
                <p style="margin-left: 15px">1.1.3 Applicant has submitted the following requirements</p>
                <p style="margin-left: 15px">a. photo copy of NSO or marriage contact (if married)</p>
                <p style="margin-left: 15px">b. 2pcs. 1x1 picture with green background</p>
                <p style="margin-left: 15px">c. 1 pc. Long brown envelop</p>
                <p style="margin-left: 15px">d. 1 pc. Long folder</p>
                <p style="margin-left: 15px">e. 1pc. long plastic envelop</p>
              </div>
             <p>
              <strong>1.2 Transfer Students: </strong>   
              Students with previous College education wishing to transfer to ASIATECH must satisfy the rules indicated below:

            </p> 
              <div>
                  <p style="margin-left: 15px">a. original copy of transcript of record from previous school.</p>
                  <p style="margin-left: 15px">b. original copy of transfer credential/honorable dismissal</p>
                  <p style="margin-left: 15px">c. original copy of certificate of good moral</p>

                  <p style="margin-left: 15px">1.2.2 Applicant has submitted the ff requirement:</p>
                  <p style="margin-left: 15px">a. photo copy of NSO or marriage contact (if married)</p>
                  <p style="margin-left: 15px">b. 2pcs. 1x1 picture with green background</p>
                  <p style="margin-left: 15px">c. 1 pc. Long brown envelop</p>
                  <p style="margin-left: 15px">d. 1 pc. Long folder</p>
                  <p style="margin-left: 15px">e. 1pc. long plastic envelop</p>
              </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <p><strong>Section 2.  Admission of Old Students</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
            <strong>2.2 </strong>
            Student of the previous semester must settle all their obligations in the school. They also required to accomplish trhe clearance for submit the same to the Registrars office.
          </p>
          <p>
            <strong>2.1 </strong>
          old students must get their CGS cards and presnt to registrars to registrars office for evaluation before they are allowed to enroll.
          </p>
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="item == 4">
      <ion-card>
        <ion-card-header>
        <p><strong>ENROLLMENT</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
           <strong>Section 1. Prescribed Registration.  </strong>
            Students are advised to enroll during prescribed registration period. The ff. shall be fullished:

          </p>
          <div>
              <p style="margin-left: 15px">1,1 Get registration form to registrars office</p>
              <p style="margin-left: 15px">1.2 Get schedule of classes from the registrar office</p>
              <p style="margin-left: 15px">1.3 Get accomplished matriculatiom from accounting office</p>
              <p style="margin-left: 15px">1.4 pay at the cashiers office</p>
          </div>
            
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <p><strong>Section 2. Enrollment Procedure</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p>
            <strong>2.1 For freshmen students</strong>
           for freshmen applicants must follow  this procedure

          </p>
          <div>
              <p style="margin-left: 15px">2.1.1  proceed to deans office for entrance exam</p>
              <p style="margin-left: 15px">2.1.2 secure registration form from the registrars office</p>
              <p style="margin-left: 15px">2.1.3 fill up registration form</p>
              <p style="margin-left: 15px">2.1.4 payment of school id at cashiers office</p>
              <p style="margin-left: 15px">2.1.5 proceed to the I.T room forI.D picture taking</p>
              <p style="margin-left: 15px">2.1.6 payment for SSC Office</p>
              <p style="margin-left: 15px">2.1.7 go back to registrar office</p>
          </div>
            
          <p style="margin-left: 15px">
            2.1.8 proceed to dean office
          </p>
           <p style="margin-left: 15px">
            2.1.9 assesment at accounting office
          </p>
           <p style="margin-left: 15px">
            2.1.10 Paynment at the cashiers officefreshmen applicants must follow  this procedure

          </p> 

          <p>
            <strong>2.2 For Transferees</strong>
           Transfer studemt from other school who applying for enrollment mus follow this procedure:

          </p>
          <div>
              <p style="margin-left: 15px">2.2.1 proceed to deans office for entrance exam</p>
              <p style="margin-left: 15px">2.2.2 proceed to registrar office to evaluate subjects</p>
              <p style="margin-left: 15px">2.2.3 secure registration form from the registrars office</p>
              <p style="margin-left: 15px">2.2.4 fill up registration form</p>
              <p style="margin-left: 15px">2.2.5 payment of school id at cashiers office</p>
              <p style="margin-left: 15px">2.2.6 proceed to the I.T room forI.D picture taking</p>
              <p style="margin-left: 15px">2.2.7 payment for SSC Office</p>
              <p style="margin-left: 15px">2.2.8 go back to registrar office</p>
              <p style="margin-left: 15px">2.2.9 proceed to dean office</p>
              <p style="margin-left: 15px">2.2.10 assesment at accounting office</p>
              <p style="margin-left: 15px">2.2.11 Paynment at the cashiers office</p>
          </div>

          <p>
            <strong>2.3 For old students</strong>
           Old students applying for enrollment wit this procedure

          </p>
          <div>
              <p style="margin-left: 15px">2.2.1  proceed to deans office for entrance exam </p>
              <p style="margin-left: 15px">2.2.2 fill up registration form</p>
              <p style="margin-left: 15px">2.2.3 payment of school id at cashiers office</p>
              <p style="margin-left: 15px">2.3.4 proceed to the I.T room forI.D picture taking</p>
              <p style="margin-left: 15px">2.2.5 payment for SSC Office</p>
              <p style="margin-left: 15px">2.2.6 go back to registrar office</p>
              <p style="margin-left: 15px">2.2.7proceed to dean office</p>
              <p style="margin-left: 15px">2.2.8 assesment at accounting office</p>
              <p style="margin-left: 15px">2.2.9Paynment at the cashiers office </p>
              
          </div>
           <p>
            <strong>Section 3.	 Changing Subjects</strong>
           Students shall be allowed to change subjects upon recommendation of dean.

          </p>
          <p>
            <strong>Section 4. 	 Dropping Subjects</strong>
           Students shall be allowed to drop all subject with approval of the concern officers.

          </p>
          <p>
            <strong>Section 5. 	Shipping of Programs</strong>
           It should be allowed only with proper concent of parents

          </p> 


        </ion-card-content>
      </ion-card>

  </div>

  <div *ngIf="item == 5">
    <ion-card>
      <ion-card-header>
      <p>CLASSIFICATION OF UNDERGRADUATE STUDENTS</p>
      </ion-card-header>
      <ion-card-content>
              <p>
                <strong>Section 1</strong>
              The following guidelines shall be applied in classifying students according year level:

              </p>
              <div>
                  <p style="margin-left: 15px">1.1	Freshmen Students are those who have finished 25 percent or less of the total number of units required for the degree or program feeling taken;</p>
                  <p style="margin-left: 15px">1.2	Sophomore Students are those who have completed not less than 26 percent but not more than 50 percent of the total number of units required for the course being taken;</p>
                  <p style="margin-left: 15px">1.3	Junior Students are those who have earned not less than 501 percent of the number of units required of the entire program and;</p>
                  <p style="margin-left: 15px">1.4	Senior Students are those who have successfully passed the prescribed courses of the first, second and third years of the curricular program being taken.</p>

              </div>

            <p>
                <strong>Section 2.</strong>
              Students are also classified as regular and irregular students. Regular students are those who completed the required subjects for the semesters already taken as indicated in the curricular schedule otherwise, the students are deemed irregular.

              </p>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="item == 6">
      <h3>Grading System</h3>
      <br>
      <p><strong>Section 1.	</strong>Averaging Grading System. ASIATECH is using the Averaging Grading System with the consideration of four grading periods: Prelim, Midterm, Semi-finals, and Final Grading Periods.</p>
      <p><strong>Section 2.	</strong>Grade Conversion. ASIATECH hereby adopts the following grade conversion of the general average as shown in the table below</p>

      <ion-list>
        <ion-item>
          <p item-start>GRADE</p>
          <p item-end>GENERAL AVERAGE</p>
        </ion-item>

        <ion-item>
          <p item-start>1.0</p>
          <p item-end>98.5-100</p>
        </ion-item>

         <ion-item>
          <p item-start>1.1</p>
          <p item-end>95.5-98.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.2</p>
          <p item-end>93.5-95.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.3</p>
          <p item-end>91.5-93.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.4</p>
          <p item-end>90.5-91.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.5</p>
          <p item-end>89.5-90.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.6</p>
          <p item-end>88.5-89.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.7</p>
          <p item-end>87.5-88.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.8</p>
          <p item-end>86.5-87.49</p>
        </ion-item>

         <ion-item>
          <p item-start>1.9</p>
          <p item-end>85.5-86.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.0</p>
          <p item-end>84.5-85.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.1</p>
          <p item-end>83.5-84.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.2</p>
          <p item-end>82.5-83.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.3</p>
          <p item-end>81.5-82.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.4</p>
          <p item-end>80.5-81.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.5</p>
          <p item-end>79.5-80.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.6</p>
          <p item-end>78.5-79.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.7</p>
          <p item-end>77.5-79.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.8</p>
          <p item-end>76.5-77.49</p>
        </ion-item>

         <ion-item>
          <p item-start>2.9</p>
          <p item-end>75.5-76.49</p>
        </ion-item>

         <ion-item>
          <p item-start>3.0</p>
          <p item-end>74.5-75.49</p>
        </ion-item>

         <ion-item>
          <p item-start>5.0</p>
          <p item-end>60.0-74.49</p>
        </ion-item>
      </ion-list>

      <p><strong>Section 2.	</strong>The ASIATECH Student Discipline Board shall have exclusive jurisdiction over all cases involving violations and the provisions of the Student Handbook</p>

      <p><strong>Section 3.	</strong>Grading Parameters. Grades shall be based on the major exam per grading period added to the Class Standing that involves: Quizzes, recitation/seatworks, reports/assignments, and attendance.</p>

      <p><strong>Section 4.	</strong>Grading Formulas. The following formulas are applied for the averaging system of grading that should be followed</p>
        <ion-card>
          <ion-card-header>
            Prelim period
          </ion-card-header>
          <ion-card-content>
            <p>Prelim Exam (40%) + Prelim Class Standing (60%)</p>
            <p>= Prelim Grade (100%)</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            Midterm Period
          </ion-card-header>
          <ion-card-content>
            <p>Midterm Exam (40%) + Midterm Class Standing (60%)</p>
            <p>= Midterm Grade (100%)</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            Pre-final Period
          </ion-card-header>
          <ion-card-content>
            <p>Pre-final Exam (40%) + Pre-final Class Standing (60%)</p>
            <p>= Pre-final Grade (100%)</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
           Final Period
          </ion-card-header>
          <ion-card-content>
            <p>Final Exam (40%) + Final Class Standing (60%)</p>
            <p>= Final Grade (100%)</p>
          </ion-card-content>
        </ion-card>

        <h4 text-center>COMPUTATION OF GENERAL AVERAGE GRADE</h4>
        <ion-grid style="font-size: 11px">
          <ion-row>
            <ion-col col-2>Prelim</ion-col>
            <ion-col col-3>Midterm</ion-col>
            <ion-col col-3>Pre-final</ion-col>
            <ion-col col-2>Final</ion-col>
            <ion-col col-2>General</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>Grade +</ion-col>
            <ion-col col-3>Grade +</ion-col>
            <ion-col col-3>Grade +</ion-col>
            <ion-col col-2>Grade</ion-col>
            <ion-col col-2>Average</ion-col>
          </ion-row>
        </ion-grid>

      <p><strong>Section 5. </strong>Special Classes. In case of special classes like tutorial and summer classes, the percentage distribution indicated above for Class Standing and the formula for every period are in use.</p>  
      <p>Prelim Grade +	Final Grade	=	General Average for 2</p> 
      <p><strong>Section 6. </strong>Base 60 Procedure. The Grading system will follow the base 60 procedure. This means that the lowest grade an instructor can give is 60. The highest grade is 100. A Base 60 Transmutation table is provided by the School Administration to each faculty member to identify easily the equivalent percentage of raw scores depending on the number of items in any educational parameters mentioned in Section 3 of Article VI.</p>

      <p><strong>Section 7. </strong>Attendance as part of the Grading System. Attendance is graded based on the number of hours of absences each student incurred. Below is the table of grades for student’s attendance.</p>
      <p>1 hr.	absence		=97%</p>

      <ion-item>
        <p item-start>2 hr.</p>
        <p text-center>absence</p>
        <p item-end>=94%</p>
      </ion-item>

      <ion-item>
        <p item-start>3 hr.</p>
        <p text-center>absence</p>
        <p item-end>=91%</p>
      </ion-item>

      <ion-item>
        <p item-start>4 hr.</p>
        <p text-center>absence</p>
        <p item-end>=88%</p>
      </ion-item>

      <ion-item>
        <p item-start>5 hr.</p>
        <p text-center>absence</p>
        <p item-end>=84%</p>
      </ion-item>

      <ion-item>
        <p item-start>6 hr.</p>
        <p text-center>absence</p>
        <p item-end>=81%</p>
      </ion-item>

      <ion-item>
        <p item-start>7 hr.</p>
        <p text-center>absence</p>
        <p item-end>=78%</p>
      </ion-item>

      <ion-item>
        <p item-start>8 hr.</p>
        <p text-center>absence</p>
        <p item-end>=75%</p>
      </ion-item>

      <ion-item>
        <p item-start>9 hr.</p>
        <p text-center>absence</p>
        <p item-end>=71%</p>
      </ion-item>

      <ion-item>
        <p item-start>10 hr.</p>
        <p text-center>absence</p>
        <p item-end>=68%</p>
      </ion-item>
     
      <p><strong>Section 8. </strong>In cases of Questions Grades. All cases involving questions of grades by students shall be addressed to the Dean/Academic Coordinator concerned.</p>
  </div>

  <div *ngIf="item == 7">
      <h3 text-center>Guidelines on Attendance,Absences, and Examination</h3>
      <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 1</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Prompt and Regular Attendance. Every Student is expected to observe prompt and regular attendance from the first meeting of every course onwards.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 2</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Maximum Allowable Absences. The maximum allowable number of absences for a student, per semester is twenty percent (20%) of the total number of hours devoted for a course.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 3</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>A student will be given a grade of 5.0 if he/she incurs more than the allowable number of absences.</p>
        </ion-card-content>
      </ion-card>


       <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 4</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>A student is considered absent if he/she arrive after:</p>
          <p style="margin-left: 20px">4.1	the first 15 minutes for a one-hour class</p>
          <p style="margin-left: 20px">4.2	the first 25 minutes for a one and Half Hour class4.3	the first 35 minutes for a two-hour class	</p>
          <p style="margin-left: 20px">4.4	the first 45 minutes for a three-hour class</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 5</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>A student who is considered late or tardy will receive one third (1/3) absence if he/she arrives in class within the time frame mentioned in section 4. Three (3) lates shall be counted as one absence.</p>
        </ion-card-content>
      </ion-card>
      

      <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 6</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Although members of the faculty are expected to begin their classes promptly, various contingencies which are sometimes unavoidable may cause some faculty members to be late in attending their Classes. In Such cases the following guidelines are to be observed:</p>
          <p style="margin-left: 20px">6.1	Students should not leave the classroom until after (15) minutes have passes for one-hour class</p>
          <p style="margin-left: 20px">6.2	Students are expected to remain quiet so as not to disturb others conducting classes while waiting for their instructor in the classroom.</p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 7</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Excused/Justified Absences. Excused absences are absences that entitle students to make-up for missed classroom activities and are not counted against the.</p>
        </ion-card-content>
      </ion-card>
      
       <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 8</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Absences due to co-curricular activities must be duly authorized in writing by the Coordinator/ Dean of the College and endorsed by the Office of student Affairs.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 9</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>The student is held responsible in securing the necessary excuse slip from the office of the Student affairs.</p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 10</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Absences of Late Enrollees. Absences of late enrollees should be counted from the first meeting day after the semester.</p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 11</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Absences during Term Examination will be considered only if due to the following cases:</p>
          <p style="margin-left: 20px">11.1	Sickness</p>
        <p style="margin-left: 20px">11.2	Conflict with other subjects</p>
        <p style="margin-left: 20px">11.3 Other cases which are unavoidable in nature</p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <p text-center><strong>Section 12</strong></p>
        </ion-card-header>
        <ion-card-content>
          <p text-center>Special Examinations. Students who failed to take the term examination due to the reasons enumerated in section 11 of this given special examination provided that they will pay the corresponding special examination fee to be determined by the school</p>
        </ion-card-content>
      </ion-card>
       
  </div>

 
</ion-content>
