<!--
  Generated template for the DoinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>DO’S AND DON’T’S PAGE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="item == 1">
      <ion-card>
      <ion-card-header>
        PROPER SCHOOL UNIFORM
      </ion-card-header>
      <ion-card-content>

        <p><strong>Proper Uniform</strong></p>
        <img src="img/school.jpg" height="200px">
        <br>
        
        <p><strong>Approved Haircuts</strong></p>
        <br>
        
        <p>To male students, hair should not be overlap the collar and should presentable</p>
        <br>
        <p>To female student,hair should not cover the face and should be presentable.</p>
        <br>
        <br>
        
        <p><strong>Strictly Donts</strong></p>
        <br>
        
        <p>Smoking and forming fraternities inside school campus can be punishable by dismissal.</p>
        <p>No entry for those students wear improper dress code.</p>
        <p>Excessive hair color and haircuts </p>
        <p>Body tattoos and piercing.</p>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="item == 2">
      <ion-card>
      <ion-card-header>
       <strong>COMPUTER LABORATORY</strong>
      </ion-card-header>
      <ion-card-content>
        
        <p><strong>Computer Lab Safety Rules for Protecting Equipment</strong></p>
        <br>
        
        <p>Do not bring any food or drinks near the machine. </p><br>
        <p>Turn off the machine once you are done using it.</p><br>
        <p>Do not remove anything from the computer laboratory without permission</p><br>
        <p>Do not plug in external devices without scanning them for computer viruses</p><br>
        <p>
          Ensure that the temperature in the room stays cool, since there are a lot of machines inside alab as these can overheat easily. This is one of the many ways of ensuring computer safety. 

        </p><br>
        <p>
          Try not to touch any of the circuit boards and power sockets when a device is connected to them and switched on. 

        </p><br>
        <p>Always maintain an extra copy of all your important data files. </p><br>
        <p>Do not misbehave in the computer laboratory.</p>

        <br>
        <p><strong>General Safety Guidelines to be followed at all times </strong></p>
        <br>
        <p>
          All users of the laboratory are to follow the directions of Academic/Laboratory Technician staff member. 

        </p>
        <br>
        <p>
          Food or drink is not permitted at any time in the laboratory. 
        </p>
        <br>
        <p>
          Students should not attempt to repair, open, tamper or interfere with any of the computer, printing, cabling, air conditioning or other equipment in the laboratory. 

        </p>
        <br>
        <p>
          Students should be aware of office ergonomic guidelines for correct posture when using computer equipment. 

        </p>
        <br>
        <p>
          Please treat fellow users of the laboratory, and all equipment within the laboratory, with the appropriate level of care and respect.
        </p>
        
      </ion-card-content>
    </ion-card>
  </div>

  

  <div *ngIf="item == 4">
        <ion-card>
        <ion-card-header>
          <strong>LIBRARY</strong>
        </ion-card-header>
        <ion-card-content>
          <div>
            <strong>DO’S</strong>
            <p>Set your phone to vibrate</p>
            <p>Make use of our Study Rooms for group discussions</p>
            <p>Keep your valuables with you at all times</p>
            <p>Use personal memory sticks or thumb drives to save your document</p>
            <p>Ask for help. Library personnel are here to assist you</p>
            <p>Speak with library staff if you have any concerns or questions</p>
          </div>
          <br>
          <div>
            <strong>DON’TS</strong>
            <p>Disturb others with loud telephone conversations </p>
            <p>Bring food or open drink to the library</p>
            <p>Disturb others with loud group discussions</p>
            <p>Leave your valuables unattended</p>
            <p>Download software onto library computers</p>
            <p>Put up with loud or disturbing behavior</p>
          </div>
          

        </ion-card-content>
      </ion-card>
  </div>

</ion-content>
