page-home ion-content{

font-family: "Times New Roman", Georgia, Serif;
}

page-home ion-content ion-card{
    background: #2f8c31 !important;
    color: #fff !important;

}

page-home ion-content p{
     color: #fff !important;
     font-size: 14px !important;
}

page-home ion-content ion-card ion-card-header{
    color: #fff !important;
    font-size: 20px !important;
}
