<!--
  Generated template for the Studentinfo2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Student Handbook Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div *ngIf="item == 8">
      <h3 text-center>Guidelines on Course Dropping</h3>

      <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 1</strong></h4>
        </ion-card-header>
        <ion-card-content>
          <p text-center>
            Dropping of subjects may be allowed provided
                           that it does not exceed twenty percent (20%)
                           of the students total course load; it shall be
                           done in writing; with the consent of the
                           Dean/Subject Teacher concerned and
                           Guidance Counselor. This should be done not 
                           later than one week after the classes have
                           started.

          </p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 2</strong></h4>
        </ion-card-header>
        <ion-card-content>
          <p text-center>
              Any student who continues to be absent from
                           his/her classes beyond the last day of
                           dropping of courses and exceeds the
                           maximum number of allowable absences shall
                           be given a failing grade with remarks of
                           excessive absences or Failure Due to Absences
                           (FDA).

          </p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 3</strong></h4>
        </ion-card-header>
        <ion-card-content>
           <p text-center>
            The following procedure will guide the
                           students in the dropping of courses:

          </p>
          <p>3.1. Secure a dropping form from the Registrar’s Office</p>
          <p>3.2. See the faculty concerned to seek his consent/advice and signature.</p>
          <p>3.3. Proceed to the Cashier for payment</p>
          <p>3.4. Submit the accomplished dropping form to the Registrar’s Office</p>
          
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 4</strong></h4>
        </ion-card-header>
        <ion-card-content>
           <p text-center>
            When a student registers in the school, it is
                           understood that he/she is enrolling for the
                           entire short term. A “term” shall mean
                           short-term for non degree courses and entire
                           term or semester for degree courses.

          </p>
        </ion-card-content>
      </ion-card>

       <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 5</strong></h4>
        </ion-card-header>
        <ion-card-content>
           <p text-center>
           <strong>Refund Policy.</strong>    A student who transfers or
                           withdraws in writing within two (2) weeks
                           after the beginning of the classes and who has
                           already paid the prescribed tuition and other
                           school fees in full or/for any length longer
                           than one month, shall be charged twenty
                           percent (20%) or if the student withdraws
                           within the first week of classes, ten percent
                           (10%) of the total amount due for the term.
                           Student shall be charged all the school fees in 
                           full if he/she withdraws after the second week
                           of classes.

          </p>
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="item == 9">
      <h3 text-center>Graduation</h3>

      <ion-card>
        <ion-card-header>
          <h4 text-center><strong> Section 1</strong></h4>
        </ion-card-header>
        <ion-card-content>
           <p text-center>
            A Candidate for Graduation should have
                           followed the guidelines below before he/she 
                           can graduate:
          </p>
          <p>1.1 Only the Students who had successfully completed all courses/subjects required in his/her curricula is eligible for graduation.</p>
          <br>
          <p>1.2 Student expecting to graduate should also meet the unit percentage requirements:</p>
          <br>
          <p>1.2.1 Fifty percent (50%) of the totalnumber of units required for the course</p>
          <br>
          <p>1.2.2 Seventy-five percent (75%) of the Major areas should have been completed at ASIATECH.</p>
          <br>
          <p>1.3. Prospective candidate for graduation must file his/her application for graduation at the Office of the Registrar not later than one (1) month after the start of the term/semester.</p>
          <br>
          <p>1.4  A student cannot participate in the Commencement Exercise/Graduation Rites unless all requirements in the curriculum and department clearance have been complied.</p>
          <br>
          <p>1.5  After the graduation, diploma can be claimed from the Registrar’s office within six (6) months upon completion of all requirements for the program.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 2.Candidates for with Honors. </strong></h4>
        </ion-card-header>
        <ion-card-content>
           <p text-center>
           Candidate for
                           graduation who will be receiving honors shall
                           have any of the following General Weighted
                           Average:

          </p>
          <p>2.1    Suma cum Laude - - - - - - - 1.10 to 1.00</p>
          <br>
          <p>2.2    Magna cum Laude - - - - - - 1.20 to 1.11</p>
          <br>
          <p>2.3    Cum Laude - - - - - - - - - - -  1.30 to 1.21 - Where Suma Cum Laude can avail free tour aboard.</p>
          <br>
          <p>2.4   With Honors - - - - - - - - - -  1.31 to 1.50</p>
          <br>
          <p>2.5   Academic Achiever - - - - -  1.51 to 1.70</p>
          <br>
          <p>2.2 The Guidelines on graduation with honors shall be as follows</p>
          <br>
          <p>2.2.1   A student’s final grades during his/her last school term shall be submitted 30-days before the graduation</p>
          <br>
          <p>2.2.2  Only final grades shall be considered in the computation of the general weighted average</p>
           <br>
          <p>2.2.3  In the computation of the final averages of a candidate for graduation with honors, grades in  all accredited academic subjects in the curriculum shall be included</p>
           <br>
          <p>2.2.2  Every candidate for graduation with honors must</p>
          <p style="margin-left:20px">a. Have carried the normal load prescribed in his/her curriculum, except in the last semester</p>
          <p style="margin-left:20px">b. Have completed in the School at least 75% of the total number of the academic units or hours required for graduation</p>
          <p style="margin-left:20px">c. Have been residence for at least 3 years immediately prior to Graduation</p>
          <p style="margin-left:20px">d. Have no final grade lower than 2.25 and/or Incomplete in any Academic subject whether prescribed  or not in his curriculum which he/she has taken in the School, or in any other educational institution</p>
          <p style="margin-left:20px">f.  Have not repeated a subject in other educational institution</p>
           
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="item == 10">
      <h3 text-center>DEAN’S LIST SCHOLARSHIP</h3>
      <ion-card>
        <ion-card-header>
          <h4 text-center><strong>Section 1</strong></h4>
        </ion-card-header>
        <ion-card-content>
           <p text-center>
            The guidelines on Dean’s List scholarship shall be as follows:
          </p>
          <br>
          <p>1.1    Only final grades shall be considered in the computation of the general average</p>
          <br>
          <p>1.2     In the computation of the final averages of applicants for Dean’s list scholarship grades in all accredited academic subjects in the curriculum shall be included</p>
          <br>
          <p>1.3    Every candidate for Dean’s list scholarship must </p>
          <br>
          <p style="margin-left:20px">1.3.1  Have carried the normal load prescribed in his/her curriculum</p>
          <br>
          <p style="margin-left:20px">1.3.2 For a transferee, one (1) semester residing period is required before period is required before he/she is qualified</p>
          <br>
          <p style="margin-left:20px">1.3.3 Have no final grade lower than 2.00 and/or incomplete in any  academic subject whether prescribed or not in his curriculum  which he/she has taken in the School</p>
          <br>
          <p style="margin-left:20px">1.3.4 If a Dean’s Lister shifted to another program, his/her current scholarship will be forfeited. However, he/she will be gain qualified for the succeeding semester, provided he/she meets the requirements aforementioned.</p>
          <br>
          <p>1.4 Tuition Fee Discount for a Dean’s</p>
          <br>
          <p text-center>Lister</p>
          <ion-item>
          <p item-left>Discounts.Gen.</p>
          <p item-right> Weighted Ave</p>
          </ion-item>
          <ion-item>
            <p item-start>1.4.1 </p>
            <p >100%</p>
            <p item-end>1.14 to 1.00</p>
          </ion-item>
           <ion-item>
            <p item-start>1.4.2</p>
            <p >75%</p>
            <p item-end>1.24 to 1.15</p>
          </ion-item>
           <ion-item>
            <p item-start>1.4.3</p>
            <p >50%</p>
            <p item-end>1.34 to 1.25</p>
          </ion-item>
           <ion-item>
            <p item-start>1.4.4</p>
            <p  >30%</p>
            <p item-end>1.44 to 1.35</p>
          </ion-item>
          
          
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="item == 11">
      <h3 text-center>Student Discipline</h3>

      <ion-card>
        <ion-card-header text-center>
          <strong>Section 1</strong>
        </ion-card-header>
        <ion-card-content>
          <p text-center><strong>ASIATECH Student Discipline Board/Grievance Committee</strong>shall be composed of the following:</p>
          <p><strong>1.1 </strong>The Head of Student Affairs as its chairman/Guidance and Counselling officer</p>
          <p><strong>1.2 </strong>Dean for academic Affairs/Department Heads.</p>
          <p><strong>1.3 </strong>A representative of the faculty organization duly designated.</p>
          <p><strong>1.4 </strong>The President of the supreme Student Council.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header text-center>
          <strong>Section 2</strong>
        </ion-card-header>
        <ion-card-content>
          <p text-center><strong>Power and Functions</strong>
          The Student Discipline
                           Board is mandated by the provision of this
                           handbook to convene itself at the call of its
                           Chairman not later than three school days
                           after a written complaint has filed before the
                           Office of the Students. The Student Discipline
                           Board performs the following functions:

          </p>
          <p><strong>3.1 </strong>Investigates major violations of students  in student handbook</p>
          <p><strong>3.2 </strong>Determines and imposes appropriate Sanction of the offenses</p>
          <p><strong>3.3 </strong>Determines, formulates and applies re-entry program for the offenders  in the light of the offense and if the sanction given is maximum suspension dismissal or expulsion</p>
          <p><strong>3.4 </strong>Creates a committee to a further investigate a case if necessary, and  makes final decision on the matter.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header text-center>
          <strong>Section 3</strong>
        </ion-card-header>
        <ion-card-content>
          <p text-center><strong>Categories of Offenses</strong></p>
          <p><strong>4.1 Minor Offenses </strong>Minor offenses are light  infractions of rules and regulation that warrant sanctions of no entry, written warning or one day suspension</p>
          <br>
          <p style="margin-left:10px"><strong>4.1.1 </strong>Failure to come in proper Uniform or without I.D</p>
          <p style="margin-left:10px"><strong>Sanction: 1st offense – Written Warning</strong></p>
          <p style="margin-left:10px"><strong>2nd & 3rd offense – Community Service</strong></p>
          <p style="margin-left:10px"><strong>4th offense – Subject to Suspension</strong></p>
          <p style="margin-left:10px"><strong>4.1.2 </strong>Disturbing classes by making noise inside and outside the classroom</p>
          <p style="margin-left:10px"><strong>4.1.3 </strong>Littering or throwing of trash Within school premises</p>
          <p style="margin-left:10px"><strong>4.1.4 </strong>Use of cellular phone during class</p>
          <p style="margin-left:10px"><strong>4.1.5 </strong>Misbehavior during official activities inside and outside the campus</p>
          <p style="margin-left:10px"><strong>4.1.6 </strong>Provocation origin</p>
          <p style="margin-left:10px"><strong>4.1.7 </strong>Unauthorized removal of official notices or posters.</p>
          <p style="margin-left:10px"><strong>4.1.8 </strong>Unauthorized construction or disposal of facilities or equipment  within the school premises or unauthorized use of school facilities and equipment</p>
          <p style="margin-left:10px"><strong>4.1.9 </strong>Allowing non – bona fide student Or non – members to participate in an activity or in respective organization without prior written clearance from the school authorities</p>
          <p style="margin-left:10px"><strong>4.1.10 </strong>Loitering along the corridors</p>
          <br>
          <p text-center><strong>Sanction: First and Second Offenses  Written Warning</strong></p>
          <br>
          <p style="margin-left:10px"><strong>4.1.11 </strong>Smoking within the radius of 50 linear meters from the school and; some related offenses</p>
          <p style="margin-left:10px"><strong>Sanction: First and Second Offenses – One day suspension</strong></p>
          <p style="margin-left:10px"><strong>4.1.12 </strong>The commission of the third (3rd) minor offense of the nature within a semester (Except 4.1.1) shall be considered a major offense with the sanction of three days suspension</p>
          <br>
          <p style="margin-left:10px"><strong>4.2 </strong>Major Offenses. Major offenses are the serious infractions of the rules and regulations which warrant minimum suspension of three days to a maximum penalty of dismissal.</p>
          <p style="margin-left:10px"><strong>4.2.1 </strong>Providing school authorities with false information.</p>
          <p style="margin-left:10px"><strong>4.2.2 </strong>Acts of defiance against person-in-authority or His/her agent.</p>
          <p style="margin-left:10px"><strong>4.2.3 </strong>Smocking inside the campus.</p>
          <br>
          <p text-center><strong>For these offenses following sanctions shall be imposed:</strong></p>
          <p><strong>- First offense: Three-day suspension</strong></p>
          <p><strong>- Second offense: Five-day suspension</strong></p>
          <p><strong>- Third offense: Ten-day suspension</strong></p>
          <br>
          <p style="margin-left:10px"><strong>4.2.4 </strong>Vulgar display of affection or acts of lewdness</p>
          <p style="margin-left:10px"><strong>4.2.5 </strong>Dissemination of malicious information</p>
          <p style="margin-left:10px"><strong>4.2.6 </strong>Conduct that adversely affect the honor of the school inside and outside the campus including the use of the social media in the internet like Facebook,etc</p>
          <p style="margin-left:10px"><strong>4.2.7 </strong>Gross or deliberate discourtesy against person-in-authority or his/her agent</p>
          <p style="margin-left:10px"><strong>4.2.8 </strong>Conduct unbecoming</p>
          <p style="margin-left:10px"><strong>4.2.9 </strong>Possession of pornographic materials</p>
          <p style="margin-left:10px"><strong>4.2.10 </strong>Gambling in any form within the school premises</p>
          <p style="margin-left:10px"><strong>4.2.11 </strong>Soliciting or collecting contributions or sales of tickets for any cause or purpose within the school premises without the approval of the school administration</p>
          <p style="margin-left:10px"><strong>4.2.12 </strong>Forming a fraternity or any unauthorized group inside the school campus and/or Recruiting any student to join a fraternity or illegal group(s) like gangs outside the school.</p>
          <br>
          <p text-center><strong>For these offenses following sanctions shall be imposed</strong></p>
          <br>
          <p><strong>First offense: Three-day suspension</strong></p>
          <p><strong>Second offense: Five-day suspension</strong></p>
          <p ><strong>Third offense: Dismissal</strong></p>
          <br>
          <p style="margin-left:10px"><strong>4.2.13 </strong>Possession , drinking of liquor or drunkenness</p>
          <p style="margin-left:10px"><strong>4.2.14 </strong>Participation in brawls</p>
          <p style="margin-left:10px"><strong>4.2.15 </strong>Assault upon another student</p>
          <p style="margin-left:10px"><strong>4.2.16 </strong>Inflicting physical injury to another student </p>
          <br>
          <p text-center><strong>For these offenses following sanctions shall be imposed</strong></p>
          <br>
          <p><strong>- First offense: Three-day suspension</strong></p>
          <p><strong>- Second offense: Ten-day suspension</strong></p>
          <p ><strong>- Third offense: Dismissal</strong></p>
          <br>
          <p style="margin-left:10px"><strong>4.2.17 </strong>Threat on another’s life or property </p>
          <br>
          <p text-center><strong>For these offenses following sanctions shall be imposed</strong></p>
          <br>
          <p><strong>- First offense: Preventive suspension</strong></p>
          <p><strong>- Second offense: Dismissal</strong></p>
          
          <br>
          <p style="margin-left:10px"><strong>4.2.18 </strong>Instigating any activity leading to stoppage of classes, preventing students or faculty members or school authorities from attending classes or entering the school premises.</p>
          <p style="margin-left:10px"><strong>4.2.19 </strong>Conviction before any court of law for criminal offense involving moral turpitude </p>
          <p style="margin-left:10px"><strong>4.2.20 </strong>Prostitution and/or recruiting any student for money through prostitution </p>
          <p style="margin-left:10px"><strong>4.2.21 </strong>Refusal to serve suspension after receipt of decision</p>
          <p style="margin-left:10px"><strong>4.2.22 </strong>Robbery, theft, or swindling</p>
          <p style="margin-left:10px"><strong>4.2.23 </strong>Attempting to bribe any person-in-authority or his/her agents</p>
          <p style="margin-left:10px"><strong>4.2.24 </strong>Hazing, bullying, or extortion</p>
          <p style="margin-left:10px"><strong>4.2.25 </strong>Possession of firearms, deadly weapons and explosives within the premises of the school and anywhere during school activities</p>
          <p style="margin-left:10px"><strong>4.2.26 </strong>Submission of fake or spurious document as an academic requirement.</p>
          <br>
          <p text-center><strong>For these offenses sanction of Dismissal shall be imposed in the First Offense  </strong></p>
          <br>
          <p><strong>4.3 </strong>Other Major Offenses with various sanctions: </p>
          <p style="margin-left:10px"><strong>4.3.1 </strong>Vandalism or Destruction of school property</p>
          <br>
          <p text-center><strong>For these offenses following sanctions shall be imposed</strong></p>
          <br>
          <p><strong>- First offense: Five-day suspension and replacement/restoration of vandalized/damaged items</strong></p>
          <p><strong>- Second offense: Ten-day suspension and replacement/restoration of vandalized/damaged items</strong></p>
          <p ><strong>- Third offense: Dismissal and replacement/restoration of vandalized/damaged items</strong></p>
          <br>

          <p style="margin-left:10px"><strong>4.3.2 </strong>Cheating or academic dishonesty. </p> 
          <p text-center><strong>The following acts shall be considered forms of cheating or academic dishonesty.</strong></p>
          <p style="margin-left:20px"><strong>a. </strong>Possession or passing of notes or any examination-related (materials) during examination period in any means.</p>  
          <p style="margin-left:20px"><strong>b. </strong>Facilitating/aiding in the dissemination of leakage.</p>  
          <p style="margin-left:20px"><strong>c. </strong>Buying or selling of test papers of any portion thereof</p>  
          <p style="margin-left:20px"><strong>d. </strong>Copying from one’s test paper or allowing others to copy from own examination paper</p>  
          <p style="margin-left:20px"><strong>e. </strong>Having somebody else to take the examination in his/her behalf</p>  
          <p style="margin-left:20px"><strong>f. </strong>Talking with others during examinations</p>  
          <p style="margin-left:20px"><strong>g. </strong>Other similar acts that may be determined by the Board of Discipline.</p>  
          <br>
          <p text-center><strong>First offense is minimum sanction of 3-day suspension to a maximum of dismissal.</strong></p>
          <br>
          <p style="margin-left:10px"><strong>4.3.3 </strong>.   Forgery, falsification, tampering or alteration of official document of the school.</p>  
          <p><strong>- </strong>First offense is Dismissal. In addition, students who forged, falsified, tampered, or altered any official document of the school shall be blacklisted. The school shall no longer issue any document, record, or certificate in his favor. This implies even after the student has already transferred to other school or has graduated from that school.</p> 
          <br>
          <p><strong>Section 5.Procedure of Grievance:</strong></p>  
          <p><strong>5.1 </strong>For Minor Offenses</p>
            <p style="margin-left:10px"><strong>5.1.1 </strong>The person-in-authority or his/her agent shall inform the student of the offense commited.</p>
            <p style="margin-left:10px"><strong>5.1.2 </strong>The apprehending person shall confiscate the ID of the erring student. The ID, with the report of the offense, shall be turned over to the Office of the Students Affairs.</p>
            <p style="margin-left:10px"><strong>5.1.3 </strong>The head of OSA shall notify the student in writing of the charge against him/her and shall give him/her opportunity to answer the same.</p>
            <p style="margin-left:10px"><strong>5.1.4 </strong>Sanction, if called for, shall be given in writing.</p>
          <p><strong>5.2 </strong>For Major Offenses</p>
          <p style="margin-left:10px"><strong>5.2.1 </strong>The aggrieved party or the Dean of the College or his representative shall submit formal complaint to the  Office of Students Affairs.</p>
          <p style="margin-left:10px"><strong>5.2.2 </strong>The head of OSA shall convene the Board of Discipline to act on the complaint.</p>
          <p style="margin-left:10px"><strong>5.2.3 </strong>The board shall receive evidence from both parties.</p>
          <p style="margin-left:10px"><strong>5.2.4 </strong>The board shall deliberate and investigate on the evidence presented and prepares a recommendation.</p>
          <p style="margin-left:10px"><strong>5.2.5 </strong>The board shall forward the recommendation for sanction to the School Director for approval.</p>
          <p style="margin-left:10px"><strong>5.2.6 </strong>The recommendation shall be subjected to the approval of the School President.</p>
          
        </ion-card-content>
      </ion-card>

      <!-- <ion-card>
        <ion-card-header text-center>
          <strong>Section 1</strong>
        </ion-card-header>
        <ion-card-content>
          <p text-center><strong>ASIATECH Student Discipline Board/Grievance Committee</strong>shall be composed of the following:</p>
          <p><strong>1.1 </strong>The Head of Student Affairs as its chairman/Guidance and Counselling officer</p>
          <p><strong>1.2 </strong>Dean for academic Affairs/Department Heads.</p>
          <p><strong>1.3 </strong>A representative of the faculty organization duly designated.</p>
          <p><strong>1.4 </strong>The President of the supreme Student Council.</p>
        </ion-card-content>
      </ion-card> -->

  </div>

  <div *ngIf="item == 12">
      <h3 text-center>Student Organization</h3>

      <ion-card>
        <ion-card-header>
          <p><strong>Section 1. Recognized Student Organization</strong></p>
        </ion-card-header>
        <ion-card-content>
         <p><strong>1.1. </strong>Recognition</p>
          <p style="margin-left:20px"><strong>1.1.1. </strong>A recognized student organization is any association, club, council or any form of group of perform students granted permission to Function within ASIATECH by the Office of the School President upon the recommendation of the Office of the Student Affairs and other concerned departments.</p>
          <p style="margin-left:20px"><strong>1.1.2.</strong>All recognized student organization shall have their constitution and by-laws duly ratified by their members. The constitution and by-laws shall be in consonance with the philosophy and advocacy of the school and must not be contrary to law. It shall also be approved by the Office of Student Affairs.</p>
          <p style="margin-left:20px"><strong>1.1.3</strong>Membership in any recognized student organization shall be strictly limited to the bona fide students of ASIATECH.</p>
          <p style="margin-left:20px"><strong>1.1.4. </strong>The officers of the student organizations shall be elected by the members subject to the provision of their respective constitution and by-laws.</p>
          <br>
        <p><strong>1.2. </strong>Qualifications of an adviser</p>
          <p style="margin-left:20px"><strong>1.2.1.</strong> Preferably in the area of expertise related to the activities of the organization.</p>
          <p style="margin-left:20px"><strong>1.2.2.</strong>Must be a full-time/Part-time faculty member of ASIATECH.</p>
        </ion-card-content>
      </ion-card>

  </div>

  <div *ngIf="item == 13">
      <p text-center><strong>POLICY AND PROCEDURES FOR STUDENT’S CLEARANCE</strong></p>

      <ion-card>
        <ion-card-header>
          <h3 text-center><strong>Section 1</strong></h3>
        </ion-card-header>
        <ion-card-content>
          <p text-center>
            School Policy. Securing student clearance is required for all graduating students  
                       and those who decided to officially drop. Clearance is also required if the student
is leaving the school for transfer purposes and shall be a pre-requisite before an
honorable dismissal from can be issued.
The student should be cleared of all financial and property accountabilities from
the different departments/units of the school before a diploma, transcript of
records, certification, will be issued to him/her.

          </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <h3 text-center><strong>Section 2</strong></h3>
        </ion-card-header>
        <ion-card-content>
          <p text-center>
            Procedures. Here is the step-by-step process in signing of clearance.
          </p>
          <br>
          <p style="margin-left:20px"><strong>2.1.</strong>The student is advised to secure the Student’s Clearance Form from the Registrar’s Office.</p>
          <p style="margin-left:20px"><strong>2.2.</strong>After filling out the form, the student is required to see all department heads or authorized signatories as listed in the form, for their signatures.</p>
          <p style="margin-left:20px"><strong>2.3.</strong>Once the accountability has been settled and signatures required in the clearance have been completed, the student shall file the same to the registrar Office.</p>
          <p style="margin-left:20px"><strong>2.4.</strong>The student pays at the Cashier’s Office unsettled balance that is necessary before the release of the documents being requested.</p>
        </ion-card-content>
      </ion-card>

            <ion-card>
        <ion-card-header>
          <h3 text-center><strong>Section 3</strong></h3>
        </ion-card-header>
        <ion-card-content>
          <p text-center>
            Semestral Clearance
          </p>
          <br>
          <p style="margin-left:20px"><strong>3.1.</strong>Repeat procedure 2.1-2.4 stated above</p>
          <p style="margin-left:20px"><strong>3.2.</strong>Present the accomplished clearance form to the Cashier’s Office for purpose of securing permit slip and permit enroll in next term/semester.</p>
        </ion-card-content>
      </ion-card>

      
  </div>


  <div *ngIf="item == 15">
      <h3 text-center>ASIATECH LOGO</h3>
      <p><img src="img/logo.png"></p>
  </div>

  <div *ngIf="item == 16">
      <h3 text-center>ASIATECH Building</h3>
      <p><img src="img/building.png"></p>
      <br>

      <p><strong>A - </strong>affordable and reasonably priced courses</p>
      <p><strong>S - </strong>State-of-the-Art and technologically advanced teaching facilities</p>
      <p><strong>I - </strong>in-demand and practical courses in ladderized academic set-up</p>
      <p><strong>A - </strong>air conditioned and spacious classrooms</p>
      <p><strong>T - </strong>teachers are topnotch with Masters, Doctorate and National Certifications</p>
      <p><strong>E -</strong> easy payments and low entrance fee Schemes </p>
      <p><strong>C -</strong> Comprehensive and wide ranging library and study materials</p>
      <p><strong>H - </strong>High quality and outstanding versatility of study program</p>
      
  </div>

  <div *ngIf="item == 17">
      <h3 text-center>ASIATECH HYMN</h3>
      <br>
      <h5 text-center><strong>I</strong></h5>
      <p text-center>We are here in Asiatech</p>
      <p text-center>With Faith in God and Integrity</p>
      <p text-center>To be globally competitive</p>
      <p text-center>Filipino workforce in harmony</p>
      <p text-center>Education with high quality</p>
      <p text-center>For the service of humanity</p>
      <p text-center>Leadership with dignity</p>
      <p text-center>For the development of our country</p>
      <h5 text-center>REFRAIN</h5>
      <p text-center>So we proclaim to the world</p>
      <p text-center>In honor of our Alma Mater</p>
      <p text-center>Our Asiatech in gold and green</p>
      <p text-center>In prosperity we care</p>
      <h5 text-center><strong>II</strong></h5>
      <p text-center>We unite in Asiatech</p>
      <p text-center>With the grace of God and humility</p>
      <p text-center>To be highly skilled and innovative</p>
      <p text-center>As citizens we care productive</p>
      <p text-center>Education with excellence</p>
      <p text-center>The mission our school is giving</p>
      <p text-center>Uplifting our lives to prosperity</p>
      <p text-center>For the progress of our country</p>
      <h5 text-center>(REFRAIN)</h5>
      <h5 text-center>CODA</h5>
      <p text-center>Our Asiatech in gold and green</p>
      <p text-center>In prosperity we care</p>
      <p text-center>In prosperity we share</p>
  </div>
</ion-content>
